body#index_body {
	background-color: #000;
}
div#dialog_centerer
{
	width:75%;
	margin:0 auto;
	text-align: center;
}
.error_message {
    padding-top: 10px;
	color: red;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-family:monospace;
	font-size: 13px;
}
.logout_message {
    padding-top: 10px;
	color: green;
	width: 100%;
	text-align: center;
	font-family:monospace;
	margin: 0 auto;
	font-size: 13px;
}
.loginDialog {
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	color: white;
	margin-bottom: 100px;
	border: none;
	width: 350px;
	height: 225px;
	background:
	linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
	border-radius: 5px;
	
}

input {
	height: 30px;
	width: 200px;
	text-align: center;
	background-color: white;	
	font-family:monospace;
	/*border: none;*/
	outline: none;
	
}
input:hover {
	border-color: #06f000;
}

input.subButton {
	background-color: #06F000;
	border-radius: 5px;
	color: #000;
	border:none;
	font-weight: bold;
}
input.subButton:hover{
	cursor:pointer;
	background-color: #39F934;
}
input.ObliterateButton {
	background-color: red;
	border-radius: 5px;
	color: #000;
	border:none;
	font-weight: bold;
}
input.ObliterateButton:hover{
	cursor:pointer;
	background-color: #D00000;
}

h3{
	font-family:monospace;
	margin-top: 10px;
	color: #bfbfbf;
	size: 20px;
}
img{
	margin:0 auto;
	height: 75px;
}
h1{
	padding-top: 20px;
	font-family:monospace;
	color: white;
	size: 70px;
	margin-top: 30px;
}
