.info-bar-holder{
	width: calc(100%);
	position:relative;
	margin-left:-10px;
	margin-right:-10px;
  padding: 0 20px 0 0;
	left:0px;
  overflow: hidden;
}
.info-bar{
	color:black;
	width: 100%;
	border: solid black;
	border-width: 1px 0 0px 0;
	padding: 5px 10px 5px 10px;
	overflow: hidden; /* will contain if #first is longer than #second */
  position: relative;
 /* display: table;
  table-layout: fixed;*/
  
  background: #9b9b9b; /* Old browsers */
  background: -moz-linear-gradient(top,  #9b9b9b 0%, #dddddf 13%, #dddddf 93%, #9b9b9b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9b9b), color-stop(13%,#dddddf), color-stop(93%,#dddddf), color-stop(100%,#9b9b9b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #9b9b9b 0%,#dddddf 13%,#dddddf 93%,#9b9b9b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #9b9b9b 0%,#dddddf 13%,#dddddf 93%,#9b9b9b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #9b9b9b 0%,#dddddf 13%,#dddddf 93%,#9b9b9b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #9b9b9b 0%,#dddddf 13%,#dddddf 93%,#9b9b9b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9b9b', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */
}
.info-bar:last-child{
  border-bottom-width: 1px;
}
.info-bar > .section{
	height: 100%;
	width:50%;
  /*display:table-cell;
  vertical-align:middle;*/
  
}
.bar-group{
	padding-bottom:10px;
}
.left.section{
	float:left; 
  width:50%;
  height: 100%;
  text-align:left;
}
.right.section{
  width:50%;
	overflow: auto;
  margin-left: 10px;
}
/*.vert-centerer:before{
  height:100%;
  display:table;
}
.vert-centerer{
  display:table-cell;
  vertical-align:middle;
}*/
.info-content{
  /*margin: 5px 0px 0 5px;
  border: 0px solid transparent;
	border-width: 0 0 5px 0;*/
  /*float:left;*/
}
.right.info-content{
   float:right;
   max-width:100%
}

.info-title{
  font-size: 16px;
  font-weight: bold;
  /*color: #020;*/
  margin-bottom:2px;
}

.section > .table-holder{
	overflow: auto;
  
}
.right.section > .table-holder{
	
}
.matchByMatch{
  font-size:14px;
}
.matchByMatch tr th, table tr td{
  padding: 2px;
  border-radius: 0px;

  
}
.matchByMatch tr:first-child th:first-child {
    border-top-left-radius: 0px;
}
.matchByMatch tr:first-child th:last-child {
    border-top-right-radius: 0px;
}
.matchByMatch tr:last-child td:first-child {
    border-bottom-left-radius: 0px;
}
.matchByMatch tr:last-child td:last-child {
    border-bottom-right-radius: 0px;
}
.matchByMatch th{
  background: #CCC;
  text-align:center;
}
.matchByMatch  th.vertical {
  font-weight:normal;
}
.matchByMatch td{
	white-space: nowrap;
	text-align: center;
}
tr.spacer-row{
	height: 5px;
	border: none;
}
.grippy-circles{
  display:none;
}

.no-stuff.info-bar{
  background:grey;
}
.good-info.no-stuff.info-bar{
  background: #9C9;
}
.no-stuff.info-bar .info-title{
  font-size:20px;
}
td.minor-caution-cell{
  background: #BB6;
}
td.caution-cell{
  background: #EE7;
}
td.good-cell{
  background: #6E6;
}
td.minor-good-cell{
  background: #9B7;
}
td.uber-good-cell{
  background: #0F0;
}
td.bad-cell{
  background: #E77;
}
td.blue-cell{
  background: #0AF;
}
td.purple-cell{
  background: #F0F;
}
td.hotGoal-cell{
  /*text-decoration:underline;*/
  box-shadow: inset 0 0 0px 2px #FF0;
  /*color:yellow;*/
}
td.uber-bad-cell{
  background: #F00;
}
b.bad-num{
  color: #F00;
{
