body {
	background-color: #1a1a1a;
    background-image: url("../images/pixel_bg.png");
}
.title {
	text-align: center;
}
div.setupdiv {
	margin: 0 auto;
	margin-top:15px;
	background-color: white;
	background-image: url("../images/pixel_bg.png");
	height: 100%;
	width: 50%;
	opacity: 0.7;
	border: 2px solid black;
	text-align: center;
	padding: 1%;
	border-radius: 10px;
}
.words
{
	color:black;
}